// Set var color
$color-primary: #003459;
$color-primary-dark: #002a48;
$color-secondary: #fceed5;
$color-white: #ffffff;
$color-white-secondary: #fdfdfd;
$color-black: #000000;
$color-black-secondary: #00171f;
$color-grey: #99a2a5;
$color-gray: #667479;
$color-normal: #242b33;
$color-info: #00a7e7;
$color-border: #ccd1d2;

//set font family
$font-primary: "SVN-Gilroy", sans-serif;

//set font size
$text-4xl: 60px;
$text-3xl: 52px;
$text-2xl: 46px;
$text-xl: 36px;
$text-lg: 24px;
$text-base: 16px;
$text-sm: 14px;
$text-xs: 12px;
$text-2xs: 10px;

//set line height
$lh-3xl: 68px;
$lh-xxl: 60px;
$lh-xl: 54px;
$lh-lg: 36px;
$lh-base: 24px;
$lh-sm: 20px;
$lh-xs: 18px;
$lh-2xs: 16px;

//set spacing
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-base: 16px;
$spacing-lg: 20px;
$spacing-xl: 24px;
$spacing-xxl: 28px;
$spacing-3xl: 40px;

//set grid
$columns: 12;
$gap: 20px;
$gap-sm: 12px;
$width-mobile: 576px;
