// Set var color
$primary: #003459;
$secondary: #002a48;
$white-color: #fdfdfd;
$text-color: #242b33;
$black-color: #000000;
$black-1-color: #00171f;
$bg-badge: #00a7e7;
$grey-color: #99a2a5;
$gray-color: #667479;
$bg-gift: #fceed5;
$bg-section: linear-gradient(
  102.87deg,
  #fceed5 6.43%,
  #fceed5 78.33%,
  #ffe7ba 104.24%
);

//set font family
$font-primary: "SVN-Gilroy", sans-serif;

//set font size
$text-4xl: 60px;
$text-3xl: 46px;
$text-2xl: 52px;
$text-xl: 36px;
$text-lg: 24px;
$text-base: 16px;
$text-sm: 14px;
$text-xs: 12px;

//set line height
$lh-3xl: 68px;
$lh-xxl: 60px;
$lh-xl: 54px;
$lh-lg: 36px;
$lh-base: 24px;
$lh-sm: 20px;
$lh-xs: 18px;
