.container {
  max-width: 800px;
  min-height: 700px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: antiquewhite;
}
