.section-container {
  #input {
    width: 600px;
    padding: 10px 20px;
  }

  #todo-list {
    max-width: 720px;
    list-style: none;
  }

  .list-item {
    margin-bottom: 10px;
    text-align: justify;
    padding: 0 6px;
  }
}
