@use "../base/variables.scss" as *;

.section-todo {
  .section-title {
    color: $color-primary;
  }

  .section-content {
    .form-todo {
      position: relative;
      display: flex;
    }

    .input-todo {
      width: 100%;
      padding: 16px 24px;
      border-radius: 36px;
      border: 1px solid transparent;
      background-color: $color-gray;
    }

    .todo-list {
      padding: 0 20px;
    }

    .list-item {
      margin-bottom: 6px;
    }
  }
}
