@use '../base/variables.scss' as *;

.section-todo {
  .section-title {
    color: $color-primary;
  }

  .section-content {
    .form-todo {
      position: relative;
      display: flex;
      margin-bottom: 30px;
    }

    .input-todo {
      width: 100%;
      padding: 16px 24px;
      border-radius: 36px;
      border: 1px solid transparent;
      background-color: $color-gray;

      &:focus {
        outline: none;
      }
    }

    .todo-list {
      padding: 0 20px;
    }

    .list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px 13px;
      margin-bottom: 18px;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}
