@use "../abstracts/variables";
@use "../base/reset";
@use "../base/typography";
@use "../components/button";
@use "../layout/header";

// .header {
//   width: 100%;
//   background: transparent;
//   position: fixed;
//   top: 0;
//   z-index: 10;
// }

// .header .container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   max-width: 1180px;
//   width: 100%;
//   height: 40px;
//   margin: 0 auto;
//   padding: 30px 0;
// }

// .header-nav {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 48px;
//   z-index: 2;
// }

// .header-shape {
//   position: absolute;
//   left: 0;
//   top: 0px;
//   z-index: 1;
// }

// .logo {
//   height: 40px;
// }

// .logo-img {
// }

// .header-action {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .navigation {
//   width: 366px;
// }

// .list-nav {
//   display: flex;
//   list-style: none;
//   gap: 48px;
// }

// .list-item {
// }

// .nav-link {
//   text-decoration: none;
//   color: #003459;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 24px;
// }

// .header-action {
//   display: flex;
//   gap: 14px;
// }

// .search-bar {
//   display: flex;
//   gap: 12px;
//   padding: 12px 20px 12px 16px;
//   background: #fdfdfd;
//   border-radius: 16px;
//   width: 280px;
//   box-sizing: border-box;
// }

// .search-bar img {
//   width: 16.67px;
//   height: 16.67px;
// }

// .search-bar input {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 20px;
//   color: #99a2a5;
// }

// .header-action button {
//   width: 203px;
//   font-weight: 700;
//   font-size: 15px;
//   line-height: 24px;
//   padding: 14px 28px;
// }

// .switcher-currency {
//   display: flex;
//   align-items: center;
//   gap: 4px;
//   padding: 10px 8px 8px 8px;
//   width: 104px;
//   height: 44px;
//   box-sizing: border-box;
// }

// .sw-currency {
//   color: #002a48;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 23px;
//   width: 33px;
//   height: 23px;
//   padding: 0 4px;
// }

// .arrow-icon {
//   width: 6px;
//   height: 3px;
// }

/* Style Main banner  */

.section {
  width: 100%;
}

.section-main-banner {
  height: 695px;
}

.section-main-banner .container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.section-main-banner .section-title {
  height: 128px;
  font-weight: 800;
  font-size: 60px;
  line-height: 68px;
  text-transform: capitalize;
  color: #002a48;
}

.section-main-banner .section-subtitle {
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
  text-transform: capitalize;
  color: #002a48;
  display: block;
}
.section-main-banner .section-image {
  width: 100%;
  min-height: 695px;
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
}

.section-main-banner .section-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-main-banner .section-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 480px;
}

.section-main-banner .section-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 465px;
  padding-top: 180px;
  z-index: 2;
}

.section-btns {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.section-main-banner .btn {
  width: 161px;
  height: 48px;
}

.section-main-banner .btn img {
  width: 18px;
  height: 18px;
}

.section-products .container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}
.section-products .container .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}
.section-products .container .section-header .section-info .section-subtitle {
  width: fit-content;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.section-products .container .section-header .section-info .section-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #003459;
  margin: 0;
}
.section-products .container .section-header button .arrow-icon {
  width: 3.33px;
  height: 6.67px;
  padding: 9px 9px;
}
.section-products .container .section-content {
  padding: 28px 0 60px 0;
}
.section-products .container .section-content .list-products {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-products .container .section-content .list-products .list-item {
  padding: 8px 8px 0 8px;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.0784313725);
  border-radius: 12px;
  margin-bottom: 10px;
}
.section-products .container .section-content .list-products .list-item .card {
  text-decoration: none;
}
.section-products
  .container
  .section-content
  .list-products
  .list-item
  .card
  .card-image {
  height: 264px;
}
.section-products
  .container
  .section-content
  .list-products
  .list-item
  .card
  .card-image
  img {
  border-radius: 10px;
}
.section-products
  .container
  .section-content
  .list-products
  .list-item
  .card
  .card-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 14px 8px 20px 8px;
}
.section-products
  .container
  .section-content
  .list-products
  .list-item
  .card
  .card-content
  .card-title {
  color: #00171f;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.section-products
  .container
  .section-content
  .list-products
  .list-item
  .card
  .card-content
  .card-information {
  display: flex;
  gap: 4px;
}
.section-products
  .container
  .section-content
  .list-products
  .list-item
  .card
  .card-content
  .card-information
  .card-variant {
  color: #667479;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.section-products
  .container
  .section-content
  .list-products
  .list-item
  .card
  .card-content
  .card-information
  .dot {
  color: #667479;
  position: relative;
  top: -4px;
  font-size: 15px;
}
.section-products
  .container
  .section-content
  .list-products
  .list-item
  .card
  .card-content
  .card-information
  .card-option {
  color: #667479;
  font-weight: 700;
}
.section-products
  .container
  .section-content
  .list-products
  .list-item
  .card
  .card-content
  .card-price {
  color: #00171f;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
