* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "SVN-Gilroy", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

form,
input,
button,
select {
  font-family: "SVN-Gilroy", sans-serif;
}

@font-face {
  font-family: "SVN-Gilroy";
  src: url("../assets/fonts/SVN-Gilroy-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../assets/fonts/SVN-Gilroy-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../assets/fonts/SVN-Gilroy-Light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../assets/fonts/SVN-Gilroy-Medium.otf") format("opentype");
  font-weight: 500;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: auto;
  padding: 12px 28px;
  border-radius: 57px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.btn-primary {
  border: 1.5px solid transparent;
  background-color: #003459;
  color: #fdfdfd;
}
.btn-outline {
  border: 1.5px solid #003459;
  background-color: transparent;
  color: #003459;
}

.card {
  display: block;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.0784313725);
}
.card-image {
  height: 100%;
  margin-bottom: 8px;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
}
.card-title {
  font-weight: 700;
  color: #00171f;
}
.card-information {
  display: flex;
  gap: 4px;
}
.card-information .dot {
  padding: 0 6px;
  line-height: 18px;
  color: #667479;
}
.card-variant {
  display: flex;
  gap: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #667479;
}
.card-option {
  font-weight: 700;
  color: #667479;
}
.card-price {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #00171f;
}
.card-gift {
  display: flex;
  gap: 2px;
  margin-top: 10px;
  padding: 8px;
  border-radius: 8px;
  background-color: #fceed5;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #002a48;
}
.card-gift .dot {
  padding: 0 6px;
  line-height: 18px;
  color: #003459;
}
.card-tag {
  display: flex;
  margin-bottom: 10px;
}
.card-tag span {
  padding: 2px 10px;
  border-radius: 28px;
  background-color: #00a7e7;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  color: #fdfdfd;
}
.card-description {
  display: -webkit-box;
  width: 100%;
  margin-top: 6px;
  font-size: 14px;
  line-height: 20px;
  text-overflow: ellipsis;
  color: #242b33;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.navigation .list-nav {
  display: flex;
  gap: 48px;
}
.navigation .nav-link {
  font-weight: 700;
  color: #003459;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 30px 0;
  background: transparent;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.header .header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  height: max-content;
  z-index: 2;
}
.header .header-nav .logo {
  height: 40px;
}
.header .header-action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.header .header-action button {
  height: 44px;
  font-weight: 700;
}
.header .search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 280px;
  padding: 12px 20px;
  border-radius: 46px;
  background: #fdfdfd;
}
.header .search-bar img {
  width: 16.67px;
  height: 16.67px;
}
.header .switcher-currency {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px 8px 8px;
}
.header .switcher-currency .sw-flag {
  margin-right: 2px;
}
.header .switcher-currency .sw-currency {
  font-weight: 500;
  color: #002a48;
}

.container {
  max-width: 1212px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.col {
  flex: 1;
}

.col-1 {
  width: calc((100% - 11 * 20px) / 12);
}

.col-2 {
  width: calc((100% - 5 * 20px) / 6);
}

.col-3 {
  width: calc((100% - 3 * 20px) / 4);
}

.col-4 {
  width: calc((100% - 2 * 20px) / 3);
}

.col-5 {
  width: calc((100% - 1.4 * 20px) / 2.4);
}

.col-6 {
  width: calc((100% - 1 * 20px) / 2);
}

.col-7 {
  width: calc((100% - 0.7142857143 * 20px) / 1.7142857143);
}

.col-8 {
  width: calc((100% - 0.5 * 20px) / 1.5);
}

.col-9 {
  width: calc((100% - 0.3333333333 * 20px) / 1.3333333333);
}

.col-10 {
  width: calc((100% - 0.2 * 20px) / 1.2);
}

.col-11 {
  width: calc((100% - 0.0909090909 * 20px) / 1.0909090909);
}

.col-12 {
  width: calc((100% - 0 * 20px) / 1);
}

@media screen and (max-width: 576px) {
  .col-sm-1 {
    width: calc((100% - 11 * 12px) / 12);
  }
  .col-sm-2 {
    width: calc((100% - 5 * 12px) / 6);
  }
  .col-sm-3 {
    width: calc((100% - 3 * 12px) / 4);
  }
  .col-sm-4 {
    width: calc((100% - 2 * 12px) / 3);
  }
  .col-sm-5 {
    width: calc((100% - 1.4 * 12px) / 2.4);
  }
  .col-sm-6 {
    width: calc((100% - 1 * 12px) / 2);
  }
  .col-sm-7 {
    width: calc((100% - 0.7142857143 * 12px) / 1.7142857143);
  }
  .col-sm-8 {
    width: calc((100% - 0.5 * 12px) / 1.5);
  }
  .col-sm-9 {
    width: calc((100% - 0.3333333333 * 12px) / 1.3333333333);
  }
  .col-sm-10 {
    width: calc((100% - 0.2 * 12px) / 1.2);
  }
  .col-sm-11 {
    width: calc((100% - 0.0909090909 * 12px) / 1.0909090909);
  }
  .col-sm-12 {
    width: calc((100% - 0 * 12px) / 1);
  }
}
.section {
  position: relative;
  padding: 60px 0;
}
.section .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}
.section .section-title {
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  line-height: 36px;
  color: #003459;
}
.section .section-subtitle {
  width: fit-content;
  font-weight: 500;
  text-transform: capitalize;
  color: #000000;
}
.section .section-content {
  padding: 14px 0;
}

.section.section-main-banner {
  padding: 0;
}
.section.section-main-banner .container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.section.section-main-banner .section-image {
  width: 100%;
}
.section.section-main-banner .section-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  max-width: 480px;
  width: 100%;
  z-index: 2;
}
.section.section-main-banner .section-title {
  font-weight: 800;
  font-size: 60px;
  line-height: 68px;
  color: #002a48;
}
.section.section-main-banner .section-subtitle {
  display: block;
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
  color: #002a48;
}
.section.section-main-banner .section-desc {
  font-weight: 500;
}
.section.section-main-banner .section-btns {
  display: flex;
  gap: 20px;
}
.section.section-main-banner .section-btns button {
  padding: 11px 30px;
}

.section.section-banner {
  padding: 0;
}
.section.section-banner .container {
  position: relative;
}
.section.section-banner .section-content {
  position: absolute;
  top: 0;
  left: 85px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 600px;
  width: 100%;
  padding: 0;
}
.section.section-banner .section-title {
  font-weight: 800;
  font-size: 52px;
  line-height: 68px;
}
.section.section-banner .section-subtitle {
  display: block;
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: #003459;
}
.section.section-banner .section-desc {
  max-width: 400px;
  width: 100%;
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.section.section-banner .section-btns {
  display: flex;
  gap: 20px;
}
.section.section-banner .section-btns .btn-primary,
.section.section-banner .section-btns .btn-outline {
  padding: 11px 28px;
}

.section.section-reverse .section-content {
  position: absolute;
  right: 85px;
  left: auto;
  align-items: flex-end;
  text-align: right;
}
.section.section-reverse .section-subtitle {
  float: right;
}

.section.section-products .section-content .card {
  padding-bottom: 12px;
}

/*# sourceMappingURL=style.css.map */
