@use "../base/index" as *;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: auto;
  padding: 12px 28px;
  border-radius: 57px;
  font-family: $font-primary;
  font-size: $text-sm;
  line-height: $lh-sm;
  font-weight: 500;

  &-primary {
    border: 1.5px solid transparent;
    background-color: $color-primary;
    color: $color-white-secondary;
  }

  &-outline {
    border: 1.5px solid $color-primary;
    background-color: transparent;
    color: $color-primary;
  }
}
