.btn {
  width: auto;
  height: 44px;
  padding: 12px 28px;
  border-radius: 57px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  &-primary {
    border: 1.5px solid transparent;
    color: #fdfdfd;
    background-color: #003459;
    padding: 14px 28px;
  }

  &-outline {
    padding: 14px 28px 10px 28px;
    border: 1.5px solid #003459;
    background-color: transparent;
  }
}
