@use "../base/index" as *;

.card {
  display: block;
  padding: 8px;
  border-radius: 8px;

  &-image {
    height: 100%;

    aspect-ratio: 1/1;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px 8px 12px 8px;
  }

  &-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #00171f;
  }
  &-information {
    display: flex;
    gap: 4px;
  }
  &-variant {
    display: flex;
    gap: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #667479;
  }
  .dot {
    font-size: 15px;
    padding: 0 6px;
    color: #667479;
  }
  &-option {
    font-weight: 700;
    color: #667479;
  }
  &-price {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #00171f;
  }
  &-gift {
    display: flex;
    padding: 8px;
    gap: 4px;
    margin: 0 8px 8px;
    border-radius: 8px;

    background-color: $color-secondary;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: $color-primary-dark;
    vertical-align: bottom;
  }

  &-tag {
    width: fit-content;
    padding: 2px 10px;
    border-radius: 28px;

    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    background-color: $color-info;
    color: $color-white-secondary;
  }

  &-description {
    width: 100%; /* Đảm bảo có kích thước cố định */
    font-size: $text-sm;
    line-height: $lh-sm;
    text-overflow: ellipsis;
    color: $color-normal;
  }
}
