@use "../base/variables.scss" as *;

.btn-add-todo {
  position: absolute;
  right: 0;
  width: 140px;
  padding: 16px 24px;
  border-radius: 36px;
  border: 1px solid transparent;
  background-color: $color-secondary;
  color: $color-white;
}

.btn-toggle {
  margin-left: 390px;
  padding: 5px 10px;
  border: 1px solid transparent;
  background-color: $color-toggle;
  color: $color-white;
}

.btn-delete {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: $color-gray;
  color: $color-black;
}

.toggle {
  text-decoration: line-through;
}
