#btn {
  padding: 10px 20px;
  background-color: darkorange;
  color: white;
  transform: translateX(-70px);
}

.toggle {
  text-decoration: line-through;
}

.doneBtn {
  margin: 0 12px;
  padding: 5px 10px;
  background-color: rgb(89, 198, 89);
  color: white;
}

.delBtn {
  padding: 5px 10px;
  background-color: red;
  color: white;
}
