* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

.header {
  max-width: 1440px;
  width: 100%;
  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding: 30px 0;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.logo {
  height: 40px;
}

.logo-img {
}

.header-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  width: 366px;
}

.list-nav {
  display: flex;
  list-style: none;
  gap: 48px;
}

.list-item {
}

.nav-link {
  text-decoration: none;
  color: #003459;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.header-action {
  display: flex;
  gap: 14px;
}

.search-bar {
  display: flex;
  gap: 12px;
  padding: 12px 20px 12px 16px;
  background: #fdfdfd;
  border-radius: 16px;
  width: 280px;
  box-sizing: border-box;
}

.search-bar img {
  width: 16.67px;
  height: 16.67px;
}

.search-bar input {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #99a2a5;
}

.btn {
  width: 151px;
  height: 44px;
  padding: 12px 28px;
  border-radius: 57px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn-primary {
  border: 1.5px solid #003459;
  color: #fdfdfd;
  background-color: #003459;
}

.header-action button {
  width: 203px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  padding: 14px 28px 10px 28px;
}

.switcher-currency {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px 8px 8px 8px;
  width: 104px;
  height: 44px;
  box-sizing: border-box;
}

.sw-currency {
  color: #002a48;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  width: 33px;
  height: 23px;
  padding: 0 4px;
}

.arrow-icon {
  width: 6px;
  height: 3px;
}
