.container {
  max-width: 1212px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.section-products {
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;

    .section-subtitle {
      width: fit-content;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }

    .section-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: #003459;
      margin: 0;
    }
    .arrow-icon {
      padding: 9px 9px;
    }
  }

  .section-content {
    padding: 28px 0 60px 0;
  }
}
