@use "../base/variables" as *;

.row {
  display: flex;
  gap: $gap;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  padding: $gap;
}

@for $i from 1 through $columns {
  .col-#{$i} {
    width: calc((100% - (12 / $i - 1) * #{$gap}) / (12 / $i));
  }
}

// Breakpoints
@media screen and (max-width: $width-mobile) {
  @for $i from 1 through $columns {
    .col-sm-#{$i} {
      width: calc((100% - (12 / $i - 1) * #{$gap}) / (12 / $i));
    }
  }
}

@media screen and (max-width: $width-tablet) {
  @for $i from 1 through $columns {
    .col-md-#{$i} {
      width: calc((100% - (12 / $i - 1) * #{$gap}) / (12 / $i));
    }
  }
}
