@use "../base/variables" as *;
@use "../base/mixins.scss" as *;

.header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  padding: 30px 0;

  @include respond(sm) {
    padding: 14px 0;
    align-items: center;
  }

  .container {
    display: flex;
    justify-content: space-between;

    .header-search,
    .header-hamburger {
      display: none;

      @include respond(sm) {
        display: block;
      }
    }
  }

  .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    height: max-content;
    z-index: 2;

    .logo {
      height: 40px;
    }

    .logo-img {
      @include respond(sm) {
        display: none;
      }
    }

    .mobile-logo {
      display: none;

      @include respond(sm) {
        display: block;
      }
    }
  }

  .navigation {
    @include respond(sm) {
      display: none;
    }
  }

  .header-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;

    @include respond(sm) {
      display: none;
    }

    button {
      height: 44px;
      font-size: $text-base;
      line-height: $lh-base;
    }
  }

  .search-bar {
    display: flex;
    gap: $spacing-sm;
    padding: 12px 20px;

    background: #fdfdfd;
    border-radius: 16px;
    width: 280px;

    img {
      width: 16.67px;
      height: 16.67px;
    }
  }

  .switcher-currency {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 10px 8px 8px;

    .sw-currency {
      width: 33px;
      height: 23px;
      padding: 0 4px;

      font-weight: 500;
      font-size: 16px;
      line-height: 23px;

      color: $color-primary-dark;
    }

    .arrow-icon {
      padding: 10px 12px;
    }
  }
}
