@use "../base/index" as *;

.section {
  position: relative;
  padding: 60px 0;
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
  }

  .section-image {
    width: 100%;
  }

  .section-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #003459;
    margin: 0;

    @include respond(sm) {
      font-size: $text-lg-mobile;
      line-height: $lh-lg-mobile;
    }
  }

  .section-subtitle {
    width: fit-content;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0;

    @include respond(sm) {
      font-size: $text-sm;
      line-height: $lh-sm;
    }
  }

  .section-content {
    padding: 14px 0;
  }

  .section-btns {
    display: flex;
    gap: 20px;
  }
}

.section-image {
  img {
    width: 100%;
    height: auto;
  }
}

.section.section-main-banner {
  padding: 0;

  .container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .section-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    max-width: 600px;
    width: 100%;
    z-index: 2;

    @include respond(sm) {
      top: 139px;
      justify-content: unset;
      gap: unset;
      padding: 0 16px;
    }
  }

  .section-title {
    font-weight: 800;
    font-size: $text-4xl;
    line-height: $lh-3xl;
    text-transform: capitalize;
    color: #002a48;

    @include respond(sm) {
      margin-bottom: 12px;
      font-size: $text-2xl;
      line-height: $lh-xxl;
    }
  }

  .section-subtitle {
    display: block;
    font-weight: 700;
    font-size: $text-2xl;
    line-height: $lh-xxl;
    text-transform: capitalize;
    color: $color-primary-dark;

    @include respond(sm) {
      font-size: $text-xl-mobile;
      line-height: $lh-xl-mobile;
    }
  }

  .section-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    @include respond(sm) {
      margin-bottom: 32px;
    }
  }
}

.section-main-banner {
  button {
    padding: 11px 30px;
    font-size: $text-base;
    line-height: $lh-base;
  }
}

//second banner

.section.section-banner {
  padding: 0;
  .container {
    position: relative;
  }

  .section-content {
    position: absolute;
    top: 0;
    left: 85px;
    bottom: 0;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .section-title {
    font-weight: 800;
    font-size: $text-3xl;
    line-height: $lh-3xl;
    text-transform: capitalize;
    color: $color-primary;
  }

  .section-subtitle {
    display: block;
    font-size: $text-xl;
    font-weight: 700;
    line-height: $lh-xl;
    margin-bottom: 8px;
  }

  .section-desc {
    margin-bottom: 34px;
    color: $color-normal;
  }

  .btn-primary {
    width: 163px;
    padding: 11px 28px;
    font-size: $text-base;
    line-height: $lh-base;

    image {
      padding: 0 4px;
    }
  }

  .btn-outline {
    padding: 11px 28px;
    font-size: $text-base;
    line-height: $lh-base;
  }
  .section-btns {
    transform: translateX(-13px);
  }
}

.section-banner {
  .section-desc {
    p {
      font-size: $text-xs;
      line-height: $lh-xs;
      font-weight: 500;
    }
  }
}

//section banner reverse
.section.section-reverse {
  .section-content {
    position: absolute;
    right: 85px;
    left: auto;
    text-align: right;

    @include respond(sm) {
      position: absolute;
      top: 32px;
      right: 0;
      align-self: flex-start;
      text-align: center;
    }
  }

  .section-title {
    @include respond(sm) {
      font-size: $text-xl;
      line-height: $lh-xl;
    }
  }

  .section-subtitle {
    float: right;

    @include respond(sm) {
      justify-self: center;
      font-size: $text-lg;
      line-height: $lh-lg;
      float: none;
    }
  }

  .section-btns {
    justify-content: flex-end;
    transform: translateX(13px);

    @include respond(sm) {
      justify-content: center;
      transform: translateX(0);
    }
  }

  .section-image {
    @include respond(sm) {
      display: none;
    }
  }

  .mobile-image {
    display: none;
    @include respond(sm) {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

//secition-brand
.section.section-brands {
  padding: 40px 0;

  @include respond(sm) {
    display: none;
  }
  .section-title {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .section-subtitle {
    margin-right: 8px;
  }
  .brand-image {
    width: 148px;
  }
}

//section product
.section-products,
.section-blogs {
  .section-header {
    button {
      @include respond(sm) {
        display: none;
      }
    }
  }
}

.section-products-hidden,
.section-banner-hidden {
  @include respond(sm) {
    display: none;
  }
}
